// Layout Components - Refactored and Optimized
// Unified with design system variables and mixins
@use "veela-lib" as *;
@use "../../library/mixins" as ui;
@use "../../library/tokens" as t;

//
@layer rs-layout {

    //
    .app-layout {
        &, & * { line-height: normal; }

        //
        & {
            display: grid;
            box-sizing: border-box;
            place-content: center;
            justify-content: start;

            //
            grid-template-columns: minmax(0px, 1fr);
            grid-column: 1 / -1;

            //
            @include flex-center;
            @include container-clamped(stretch, stretch);
        }

        //
        & {
            background: none;
            background-color: transparent;
            box-shadow: none;
        }

        /* */
        & > :where(*) {
            box-shadow: none;
        }

        //
        .view-box {
            inline-size: stretch;
            block-size: stretch;
            contain: strict;
            content-visibility: auto;

            //
            max-block-size: stretch;
            max-inline-size: stretch;
            min-inline-size: 0px;
            min-block-size: 0px;

            //
            grid-template-columns: minmax(0px, 1fr);
            grid-template-rows: [toolbar] minmax(0px, max-content) [content] minmax(0px, 1fr);
            display: grid;
            box-shadow: none;
        }

        //
        .content > * > section,
        .content > section {
            pointer-events: auto;
            touch-action: manipulation;
            overflow: hidden;
            contain: strict;

            //
            margin-inline: 0px;
            grid-row: content-row;
            box-shadow: none;

            //
            display: grid;
            grid-template-columns: minmax(0px, 1fr);
            grid-template-rows: minmax(0px, 1fr);
            gap: var(--gap-xs);
            flex-grow: 1;

            //
            @include scrollable("y");
            @include ui.tonal-surface(surface-container-low, var(--surface-opacity-subtle), 0px, null, 1);
            @include container-clamped(stretch, stretch);

            //
            min-inline-size: 0px;
            min-block-size: 0px;
            max-inline-size: stretch;
            max-block-size: stretch;
            inline-size: stretch;
            block-size: stretch;
            box-sizing: border-box;

            //
            perspective: 1000;
            transform: translateZ(0px);
            content-visibility: auto;

            //
            &.viewer-section {
                background-color: transparent;
            }

            & {
                border-radius: 0px;
            }
        }

        //
        header {
            min-block-size: max-content;
            block-size: max-content;
            line-height: normal;
            touch-action: manipulation;
            pointer-events: auto;

            * { pointer-events: none; }
        }

        //
        .view, .content {
            display: block;
            padding: 0;
            border-radius: 0px;

            //
            min-inline-size: 0px;
            min-block-size: 0px;
            max-inline-size: stretch;
            max-block-size: stretch;
            inline-size: stretch;
            block-size: stretch;
            box-sizing: border-box;

            //
            & > h2 {
                letter-spacing: 0.01em;

                @include ui.text-heading("title-medium");
            }
        }


    }
}
