@layer entity-card {
    .entity-card {
        display: grid;
        grid-template-columns: 48px 1fr;
        gap: 0.5rem 0.75rem;
        padding: 0.75rem;
        border-radius: 0.5rem;
        background: var(--c2-surface);

        & > *:empty {
            display: none;
        }
    }

    .entity-card-header {
        display: grid;
        grid-template-columns: 48px 1fr;
        gap: 0.5rem;

        & > *:empty {
            display: none;
        }

        .entity-card-title {
            font-size: 1.125rem;
            font-weight: 700;
        }

        .entity-card-icon {
            inline-size: 48px;
            block-size: 48px;
            display: grid;
            place-items: center;
        }
    }

    .entity-card-content {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        & > *:empty {
            display: none;
        }

        .entity-card-kind {
            font-size: 0.875rem;
            font-weight: 600;
        }

        .entity-card-description {
            font-size: 0.95rem;
        }

        .entity-card-tags {
            font-size: 0.85rem;
        }

        .entity-card-location {
            font-size: 0.9rem;
        }

        .entity-card-members {
            font-size: 0.9rem;
        }

        .entity-card-services {
            font-size: 0.9rem;
        }

        .entity-card-actions {
            font-size: 0.9rem;
        }

        .entity-card-bonuses {
            font-size: 0.9rem;
        }
    }

}
