@use "veela-lib" as *;

@layer rs-tabbar {
    .app-layout {

        & > [slot="bar"] {
            grid-column: 1 / -1;
            margin: 0;
            padding: var(--padding-xs) var(--padding-sm);

            @include surface(var(--surface-opacity-subtle));
        }
    }
}
