@layer ui-system {
    :where(*):not(:defined) { opacity: 0; visibility: collapse; pointer-events: none; display: none; background-color: transparent; color: transparent; };
    :where(link, head, script, style, meta) {
        display: none !important;
        pointer-events: none !important;
        interactivity: inert !important;
        user-select: none !important;
        touch-action: none !important;
    }

    /* */
    :where(*) {
        box-sizing: border-box;
    }

    /* */
    body {
        display: grid;
        grid-template-columns: minmax(0px, 1fr);
        grid-template-rows: minmax(0px, 1fr);
        position: fixed;
        overflow: hidden;
        flex-direction: column;
        pointer-events: none;
        container-type: size;
        contain: strict;
        padding: 0px;
        margin: 0px;
        place-content: center;
        place-items: center;
        align-content: start;
        align-items: start;

        min-block-size: max(100cqb, 100dvb);
        inline-size: min(100cqi, 100dvi);
    }

    /* */
    body > #app {
        max-inline-size: stretch;
        max-block-size: stretch;

        /* */
        inline-size: stretch;
        block-size: stretch;

        /* */
        min-inline-size: 0px;
        min-block-size: 0px;

        /* */
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        /* */
        display: grid;
        grid-template-columns: minmax(0px, 1fr);
        grid-template-rows: minmax(0px, 1fr);

        /* */
        pointer-events: none;
        position: absolute;
        inset: 0px;

        /* */
        inset-inline-end: auto;
        inset-block-end: auto;
        overflow: hidden;

        /* */
        container-type: size;
        contain: strict;

        /* */
        margin: 0px;
        padding: 0px;
        border: none 0px transparent;
        outline: none 0px transparent;
    }

    /* fix virtual keyboard and overlays issues */
    #overlays {
        transition: block-size 100ms step-end;
        inline-size: 100dvi;
        block-size: min(100dvb, var(--view-height, 100dvb));
        position: fixed;
    }

    /* */
    #filter {
        mix-blend-mode: multiply;
        inset: 0px;
        position: fixed;
        margin: 0px;
        padding: 0px;
        inline-size: 100%;
        block-size: 100%;
        max-inline-size: 100dvi;
        max-block-size: 100dvb;
        background-color: oklch(calc(var(--brightness, 1) * 0.4 + 0.6) calc(var(--night-mode, 0) * 0.05) 35);
        pointer-events: none;
        z-index: 9999999;
        content-visibility: visible;
        transform: translateZ(0px);
    }
}