// Basic edition file manager content styles

//
@layer ux-file-manager-content {
    $row-grid:        [icon] minmax(0px, 2.5rem) [name] minmax(0px, 1fr) [size] minmax(0px, 3rem) [date] minmax(0px, 8rem) [actions] minmax(8rem, max-content);
    $row-grid-mobile: [icon] minmax(0px, 2.5rem) [name] minmax(0px, 1fr) [size] minmax(0px, 3rem) [date] minmax(0px, 0px)  [actions] minmax(8rem, max-content);

    :host(ui-file-manager-content) {
        &, :where(*) {
            overflow: hidden;
            scrollbar-width: none;
            scrollbar-color: transparent transparent;
            scrollbar-gutter: auto;
        }

        & {
            perspective: 1000;
            display: block;
            inline-size: stretch;
            block-size: stretch;
            overflow: auto;
            scrollbar-width: none;
            scrollbar-color: transparent transparent;
            scrollbar-gutter: auto;
            grid-column: 1 / -1;
            z-index: 1;
            position: relative;
            contain: none;
            isolation: isolate;
            container-type: size;

            touch-action: manipulation;
            pointer-events: auto;
            border-radius: 0.5rem;
            margin: 0px;

            background-color: var(--basic-surface);
            color: var(--basic-on-surface);
        }

        /* Grid with subgrid columns */
        .fm-grid {
            display: grid;
            grid-template-rows: minmax(max-content, 2rem) minmax(0, 1fr);
            row-gap: var(--basic-gap-xs);
            align-content: start;
            inline-size: stretch;
            min-block-size: stretch;
            block-size: fit-content;
            overflow: visible;
            scrollbar-width: none;
            scrollbar-color: transparent transparent;
            scrollbar-gutter: auto;

            touch-action: manipulation;
            pointer-events: none;

            @container (inline-size <= 600px) {
                grid-template-columns: #{$row-grid-mobile};
            }
        }

        .fm-grid-rows {
            display: grid;
            grid-template-columns: subgrid;
            grid-auto-rows: 3rem;
            grid-column: 1 / -1;
            align-content: start;

            gap: var(--basic-gap-xs);
            overflow: auto;
            //scrollbar-width: none;
            //scrollbar-color: transparent transparent;
            scrollbar-gutter: auto;

            scrollbar-width: thin;
            scrollbar-color: var(--on-surface-color, currentColor) transparent;

            inline-size: stretch;
            block-size: stretch;
            z-index: 1;

            //
            content-visibility: auto;
            contain-intrinsic-size: 1px 3rem;
            contain: strict;

            //
            touch-action: manipulation;
            pointer-events: auto;

            //
            slot { display: contents !important; }
        }

        :where(.row) {
            background-color: var(--basic-surface-variant);
            color: var(--basic-on-surface-variant);

            display: grid;
            grid-template-rows: 2.5rem !important;
            grid-column: 1 / -1;
            order: var(--order, 1) !important;
            min-block-size: max-content;

            inline-size: stretch;
            place-content: center;
            place-items: center;
            place-self: center;
            justify-items: start;
            padding: 0.25rem 0.375rem;
            border-radius: 0.375rem;
            cursor: pointer;
            pointer-events: auto;
            touch-action: manipulation;
            block-size: 3rem;
            user-drag: none;
            -webkit-user-drag: none;

            text-align: start;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            white-space: nowrap;
            letter-spacing: -0.05em;
            overflow: hidden;
            gap: 0.25rem;
            flex-wrap: nowrap;

            background-color: var(--surface-color, transparent);

            // no draggable available on mobile (touch devices currently)
            @media (hover: hover) and (pointer: fine) {
                user-drag: element;
                -webkit-user-drag: element;
            }

            ui-icon {
                inline-size: 1.25rem;
                block-size: 1.25rem;
                place-content: center;
                place-items: center;
            }

            a, span {
                background-color: transparent !important;
            }

            & > * {
                background-color: transparent !important;
                min-block-size: max-content;
                block-size: 3rem;
            }
        }

        .row {
            &:hover {
                background-color: var(--basic-surface-container-high);
            }
            &:active {
                background-color: var(--basic-surface-container-highest);
            }
            &:focus-visible {
                outline: var(--basic-focus-ring);
            }
        }

        .c {
            min-inline-size: 0;
            display: flex;
            flex-direction: row;
            text-align: start;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            inline-size: auto;
            place-content: center;
            place-items: center;
            justify-content: start;
            color: var(--basic-on-surface);
            min-block-size: max-content;
            block-size: 3rem;
        }

        .icon { grid-column: icon; place-content: center; place-items: center; }
        .name { grid-column: name; inline-size: stretch; };
        .size { grid-column: size; };
        .date { grid-column: date; };
        .actions { grid-column: actions; };

        .row, ::slotted(.row), .fm-grid, .fm-grid-header {
            grid-template-columns: #{$row-grid};
        }

        @container(inline-size <= 600px) {
            .row, ::slotted(.row), .fm-grid, .fm-grid-header { grid-template-columns: #{$row-grid-mobile}; };
            .date { display: none !important; };
        }

        //
        .actions {
            background-color: var(--basic-surface);
            color: var(--basic-on-surface);

            pointer-events: none;
            padding: 0rem;
            max-inline-size: stretch;
            max-block-size: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 0.0625rem 0.125rem oklch(from #000 l c h / 0.1);

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            place-content: center;
            place-items: center;
            place-self: center;
            inline-size: fit-content;
            block-size: stretch;
            gap: 0rem;
            overflow: hidden;
        }

        .action-btn {
            background-color: var(--basic-surface);
            color: var(--basic-on-surface);

            //
            appearance: none;
            border: none;
            padding: 0.5rem;
            border-radius: 0rem;
            cursor: pointer;
            min-inline-size: 2.5rem;
            min-block-size: 2rem;
            inline-size: fit-content;
            block-size: stretch;
            max-inline-size: stretch;
            max-block-size: stretch;
            aspect-ratio: 1.25 / 1;
            display: flex;
            place-content: center;
            place-items: center;
            transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
            overflow: visible;
            box-shadow: none;

            ui-icon {
                inline-size: stretch;
                block-size: stretch;
                min-inline-size: 0.875rem;
                min-block-size: 0.875rem;
            }
        }

        .fm-grid-header {
            position: sticky !important;
            display: grid;
            grid-column: 1 / -1;
            inset-block-start: 0;
            z-index: 8;
            padding: 0.25rem 0.375rem;
            border-radius: 0.375rem;
            font-size: 0.875em;
            opacity: 1;
            gap: 0.25rem;

            place-content: center;
            place-items: center;
            justify-content: start;
            justify-items: start;
            text-align: start;

            touch-action: manipulation;
            pointer-events: auto;

            //
            & > * { inline-size: auto; }

            //
            .c { font-weight: 600; }
            .icon { grid-column: icon; }
            .name { grid-column: name; inline-size: stretch; };
            .size { grid-column: size; };
            .date { grid-column: date; };
            .actions {
                grid-column: actions;
                inline-size: stretch;
                block-size: fit-content;
                box-shadow: none;
                padding: 0rem;
                max-inline-size: stretch;
                border-radius: 0rem;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                place-content: center;
                place-items: center;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                gap: 0.25rem;

                justify-content: start;
                justify-items: start;
                text-align: start;
            };
        }

    }
}
