// Basic edition file manager styles

//
@layer ux-file-manager {

    :host(ui-file-manager) {
        &, :where(*) {
            overflow: hidden;
            scrollbar-width: none;
            scrollbar-color: transparent transparent;
            scrollbar-gutter: auto;
            border: none 0px transparent;
            outline: none 0px transparent;
            padding: 0px;
            margin: 0px;
            line-height: 0;
            box-sizing: border-box;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
        }

        & {
            perspective: 1000;
            container-type: inline-size;
            display: grid;
            inline-size: stretch;
            block-size: stretch;
            content-visibility: auto;
            border-radius: 0px;
            overflow: hidden;
            margin: 0px;

            background-color: var(--basic-surface);
            color: var(--basic-on-surface);
        }

        .fm-root {
            gap: var(--basic-gap-xs);
            display: grid;
            grid-template-columns: [content-col] minmax(0px, 1fr); //[sidebar-col] minmax(0px, max-content);
            grid-template-rows: auto minmax(0px, 1fr);
            inline-size: stretch;
            block-size: stretch;
            overflow: hidden;
        }

        .fm-toolbar {
            grid-column: 1 / -1;
            display: grid;
            grid-template-columns: minmax(0px, max-content) minmax(0px, 1fr) minmax(0px, max-content);
            grid-template-rows: minmax(0px, 1fr);
            grid-auto-flow: column;
            place-content: center;
            place-items: center;
            gap: 0.5rem;
            border-radius: 0.5rem;
            padding: 0.25rem;
            line-height: 0;

            button, input {
                background-color: var(--basic-surface-container);
                color: var(--basic-on-surface);
            }

            .btn {
                transition: background 0.1s ease-in-out;
                appearance: none;
                border: 0;
                padding: 0.65rem;
                border-radius: 0rem;
                cursor: pointer;
                inline-size: 2.5rem;
                block-size: 2.5rem;
                aspect-ratio: 1 / 1;
            }

            & > * {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 0rem;
                block-size: fit-content;
                min-block-size: stretch;
                border-radius: 0.5rem;
                padding: 0rem;
                overflow: hidden;
            }

            & .fm-toolbar-left {
                grid-column: 1;
            }

            & .fm-toolbar-left, & .fm-toolbar-right {
                border-radius: var(--radius-lg, 0.25rem);
            }

            & .fm-toolbar-center {
                grid-column: 2;
                flex-grow: 1;
                inline-size: stretch;
                block-size: fit-content;
                min-block-size: stretch;
                border-radius: 0.5rem;
                padding: 0rem;
                overflow: hidden;
                place-content: center;
                place-items: center;
                justify-content: start;

                & > * {
                    inline-size: stretch;
                    block-size: stretch;
                }

                & input {
                    padding-inline: 0.75rem;
                    inline-size: stretch;
                    border: none 0px transparent;
                    outline: none 0px transparent;
                }
            }

            //
            & .fm-toolbar-right { grid-column: 3; }
        }

        .fm-sidebar {
            grid-row: 2;
            grid-column: sidebar-col;
            //display: grid;
            align-content: start;
            gap: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            line-height: normal;
            justify-content: start;
            justify-items: start;
            text-align: start;
            display: none;

            .sec {
                display: grid;
                gap: 0.25rem;
                place-content: start;
                place-items: start;
                justify-content: start;
                justify-items: start;
            }
            .sec-title {
                font-weight: 600;
                opacity: 0.8;
                padding-block: 0.25rem;
                place-self: start;
            }
            .link {
                text-align: start;
                appearance: none;
                border: 0;
                padding: 0.25rem 0.375rem;
                border-radius: 0.375rem;
                cursor: pointer;
                line-height: normal;
            }
        }

        .fm-content {
            grid-row: 2;
            grid-column: content-col;
            inline-size: stretch;
            block-size: stretch;
            overflow: auto;
            border-radius: 0.5rem;
            padding: 0.25rem;

            scrollbar-width: none;
            scrollbar-color: transparent transparent;
            scrollbar-gutter: auto;
        }

        .status { padding: 0.5rem; opacity: 0.8; }
        .status.error { color: var(--error-color, crimson); }

        @container (inline-size < 520px) {
            .fm-content { grid-column: 1 / -1; }
            .fm-root { grid-column: 1 / -1; }
            .fm-grid { grid-column: 1 / -1; }
            .fm-root[data-with-sidebar="true"] { grid-template-columns: [content-col] minmax(0px, 1fr); }
            .fm-sidebar { display: none !important; }
        }
    }
}
