@layer rs-misc-animation {
    @keyframes validationPulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.01);
        }
        100% {
            transform: scale(1);
        }
    }
}
